body {
    margin: 0;
    padding: 0;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#wrap {
    width: 500px;
    height: 550px;
    padding-top: 50px;
    background: coral;
    position: relative;
}
#zhankai {
    width: 50px;
    position: absolute;
    top: 50px;
    left: 402px;
    font: 20px/40px "华文行楷";
    color: #000;
    background: #fff;
}
#list {
    width: 50px;
    position: absolute;
    top: 107px;
    left: 402px;
    font: 20px/40px "华文行楷";
    color: #000;
    background: #fff;
    display: none;
}
#lookup {
    height: 40px;
    background: #fff;
}
#replace {
    height: 40px;
    background: #fff;
}
#text {
    width: 400px;
    border: 1px solid#000;
    margin-bottom: 10px;
    font:20px/30px "华文行楷";
    color: #000;
}
#xiugai {
    height: 40px;
    padding-top: 10px;
    position: relative;
}
#chazhao {
    margin-bottom: 10px;
    display: none;
}
#tihuan {
    display: none;
}
#search {
    display: inline-block;
}

#change {
    display: inline-block;
}
span {
    background: #fff;
}
