@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: PingFang-SC-Regular;
}
ul {
    list-style: none;
}
img {
    display: block;
}
.claimBanner img {
    width: 100%;
}
.claimInfor {
    /*background: url("../../static/img/claimApplication/claaim_line.png") no-repeat left bottom;*/
    background-size: 100% 0.2rem;
}
.claimInfor:last-child {
    background: none;
}
.claimInfor h3 {
    font-family: HiraginoSansGB-W6;
    margin-top: 0.36rem;
    line-height: 0.8rem;
    font-size: 0.45333333rem;
    color: #000000;
    text-indent: 0.26666667rem;
}
.claimInfor ul {
    /*width: 8.66666667rem;*/
    width: 9.66666667rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-bottom: 0.57333333rem;
}
.claimInfor ul li {
    /*width: 33%;*/
    width: 25%;
}
.claimInfor ul li div {
    width: 0.73333333rem;
    height: 0.73333333rem;
    margin: 0.4rem auto;
    position: relative;
}
.claimInfor ul li div img {
    height: 0.72rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.claimInfor ul li p {
    color: #2F2F2F;
    /*font-size: 0.37333333rem;*/
    font-size: 0.35rem;
    /*margin-bottom: 0.57333333rem;*/
    text-align: center;
}